.characters {
  width: 85.2%;
  margin: 0 auto;
  background: #06141d;
  border-radius: 52px;
  padding: 3% 7.4% 0;
  @media (max-width: 800px) {
    border-radius: 36px;
  }
  @media (max-width: 500px) {
    width: 92%;
    margin-left: 0%;
    padding: 3% 4% 0;
  }
  h1 {
    font-family: Dela Gothic One;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 58px;
    background: -webkit-linear-gradient(
      45deg,
      #ffffff 0%,
      #ffcd95 20%,
      #764204 80%
    );
    background: -moz-linear-gradient(
      45deg,
      #ffffff 0%,
      #ffcd95 20%,
      #764204 80%
    );
    background: linear-gradient(45deg, #ffffff 0%, #ffcd95 20%, #764204 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 6.4%;
    margin-bottom: 0;
    @media (max-width: 1200px) {
      font-size: 52px;
      line-height: 52px;
      margin-bottom: 4%;
    }
    @media (max-width: 800px) {
      font-size: 30px;
      line-height: 30px;
      margin-left: 10%;
    }
  }
  .description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 6.4%;
    width: 87.8%;
    @media (max-width: 600px) {
      align-items: flex-start;
      flex-direction: column;
    }
    p {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 26px;
      color: #63a3c9;
      width: 58%;
      @media (max-width: 800px) {
        font-size: 16px;
        width: 88%;
      }
      @media (max-width: 600px) {
        width: 100%;
      }
    }
    .icons {
      display: flex;
      margin: 2% 0;
      width: 12%;
      @media (max-width: 1024px) {
        width: 18%;
      }
      @media (max-width: 800px) {
        width: 24%;
        margin-left: 10%;
      }
      @media (max-width: 600px) {
        margin-left: 0%;
        width: 12em;
      }
      img {
        width: 100%;
      }
    }
    @media (max-width: 1200px) {
      font-size: 16px;
      line-height: 18px;
    }
    @media (max-width: 800px) {
      font-size: 12px;
      line-height: 14px;
      margin-left: 10%;
      width: 80%;
    }
  }
  .slider {
    .arrow {
      background: #081620;
      border-radius: 20px;
      height: 100%;
      padding-inline: 28.6px;
      width: 2%;
      transition: all 0.1s;
      z-index: 9999;
      &:hover {
        background: #12242f;
      }
      @media (max-width: 1024px) {
        padding-inline: 18px;
      }
      @media (max-width: 600px) {
        width: 20px;
        padding: 0 14px 0 14px;
        border-radius: 20px !important;
        &:last-child {
          padding: 0 14px 0 14px;
        }
      }
    }
    .botsFrame {
      display: flex !important;
      align-items: center;
      background: rgba(64, 91, 109, 0.1);
      width: 88% !important;
      max-height: 400px;
      border-radius: 32px;
      margin: 0 auto;
      overflow: hidden;
      @media (max-width: 1024px) {
        min-height: 60vw;
        max-height: none;
        flex-direction: column;
        justify-content: center;
      }
      @media (max-width: 800px) {
        min-height: 68vw;
      }
      @media (max-width: 600px) {
        justify-content: center;
        width: 78% !important;
        min-height: 688px;
      }
      @media (max-width: 500px) {
        min-height: 658px;
      }
      @media (max-width: 380px) {
        min-height: 614px;
      }
      .bots {
        width: 46vw;
        max-width: 780px;
        margin: -9% -8% -9% -8%;
        @media (max-width: 1024px) {
          margin: -18% -3% -20% -8%;
          width: 66vw;
        }
        @media (max-width: 800px) {
          margin: -30% -3% -24% -8%;
        }
        @media (max-width: 600px) {
          margin: -22% -0% -34% 0%;
          width: 160%;
        }
      }
      .botInfo {
        padding-right: 4%;
        padding-bottom: 2%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 23em;
        @media (max-width: 1024px) {
          height: 15em;
          width: 70%;
        }
        @media (max-width: 800px) {
          height: 12em;
        }
        @media (max-width: 600px) {
          height: 26em;
          width: 88%;
        }
        h2 {
          text-transform: uppercase;
          font-family: Dela Gothic One;
          margin-bottom: 0%;
          width: 10em;
          @media (max-width: 1024px) {
            font-size: 26px;
            line-height: 26px;
          }
          @media (max-width: 600px) {
            margin-bottom: 6%;
          }
        }
        p {
          margin-top: 2%;
          font-family: "Montserrat";
          @media (max-width: 1024px) {
            font-size: 14px;
            line-height: 16px;
          }
          @media (max-width: 600px) {
            font-size: 14px;
            line-height: 22px;
          }
          @media (max-width: 380px) {
            font-size: 13px;
            line-height: 20px;
          }
        }
      }
      .collabInfo {
        display: flex;
        align-items: center;
        height: 24.3em;
        width: 50%;
        @media (max-width: 1024px) {
          height: 15.8em;
          width: 70%;
        }
        @media (max-width: 800px) {
          width: 80%;
          height: 12em;
        }
        @media (max-width: 600px) {
          height: 12em;
          width: 88%;
        }
        h2 {
          font-family: Dela Gothic One;
          font-style: normal;
          font-weight: normal;
          font-size: 36px;
          line-height: 40px;
          @media (max-width: 700px) {
            font-size: 32px;
            line-height: 36px;
          }
          @media (max-width: 600px) {
            font-size: 24px;
            line-height: 32px;
          }
          @media (max-width: 440px) {
            font-size: 21px;
            line-height: 27px;
          }
          @media (max-width: 380px) {
            font-size: 19px;
            line-height: 26px;
          }
        }
      }
      footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        div {
          display: flex;
          flex-direction: column;
          width: 28%;
          @media (max-width: 800px) {
          }
          span,
          a {
            text-decoration: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 12px;
            font-family: Dela Gothic One;
            font-style: normal;
            font-weight: normal;
            min-width: 74px;
            min-height: 20px;
            @media (max-width: 800px) {
              font-size: 12px;
              padding: 6% 0%;
            }
            &:first-child {
              font-size: 18px;
              line-height: 18px;
              padding: 11% 4%;
              @media (max-width: 1024px) {
                font-size: 14px;
                line-height: 14px;
              }
            }
            &:last-child {
              padding-top: 4%;
              font-size: 16px;
              @media (max-width: 1024px) {
                font-size: 10px;
                line-height: 14px;
              }
            }
            img {
              width: 68%;
              @media (max-width: 1024px) {
                width: 68%;
                padding: 4% 0 0%;
              }
            }
          }
          .sold_out {
            padding: 7% 0 !important;
            min-height: 32px;
            @media (max-width: 1024px) {
              padding: 6% 0 !important;
            }
          }
          .soon {
            margin-top: 4.4%;
            @media (max-width: 1024px) {
              margin-top: 2.2%;
            }
          }
        }
      }
      h2 {
        font-family: Dela Gothic One;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 40px;
        @media (max-width: 1200px) {
          font-size: 26px;
          line-height: 26px;
        }
        @media (max-width: 1024px) {
          width: 70%;
        }
        @media (max-width: 800px) {
          font-size: 22px;
          line-height: 22px;
        }
        @media (max-width: 600px) {
          font-size: 16px;
          line-height: 16px;
        }
      }
    }
  }
}
