.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
  height: auto;
  @media (max-width: 800px) {
    padding: 2% 0;
  }
  .footerContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 1440px;
    width: 90%;
    border-top: 1px solid #101e27;
    padding-left: 0.4%;
    div {
      padding-top: 2%;
      width: 22em;
      @media (max-width: 800px) {
        width: 60%;
        padding-top: 4%;
        margin: 2% 0;
      }
      a {
        z-index: 9999;
        margin-right: 10%;
      }
      img {
        @media (max-width: 800px) {
          width: 110%;
        }
        @media (max-width: 500px) {
          width: 130%;
        }
      }
    }
    p,
    a {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 14px;
      color: #c9a061;
      text-decoration: none;
      @media (max-width: 600px) {
        font-size: 12px !important;
      }
      @media (max-width: 420px) {
        font-size: 11px !important;
      }
    }
    a {
      -webkit-text-size-adjust: none;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
        color: white;
      }
    }
  }
}
