.contentContainer {
  margin: 2.5% 0 3em;
  position: relative;
  top: 68px;
  @media (max-width: 600px) {
    margin-bottom: 5.1em;
  }
  @media (max-width: 500px) {
    margin-bottom: 4.5em;
  }
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding-inline: 10%;
    margin: 0 auto;
    padding-top: 5.5%;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1440px;
    @media (max-width: 800px) {
      flex-direction: column;
      width: 100%;
      padding-inline: 0%;
    }
    @media (max-width: 600px) {
      margin-top: 8%;
      background-position: 40% 100px;
    }
    @media (max-width: 380px) {
      background-position: 40% 120px;
    }
    .particlesAnime{
      position: absolute;
      top: 2%;
      width: 100%;
      img{
        position: absolute;
        transition: all 1s;
        @media (max-width: 600px) {
          width: 2%;
        }
      }
      .blueParticles{
        margin-left: 0%;
        @media (max-width: 800px) {
          position: absolute;
          width: 100%;
          margin-top: -8%;
          margin-left: 16%;
        }
        @media (max-width: 400px) {
          width: 180%;
        }
        img{
          animation-iteration-count: infinite;
          animation-delay: 0s;
          @media (max-width: 600px) {
            width: 4%;
          }
          &:nth-child(1){
            margin-top: 0%;
            margin-left: 4%;
            animation-name: blueBar;
            animation-duration: 5s;
            @keyframes blueBar {
              0%  {margin-top: 10%; opacity: 0;}
              50% {margin-top: 2%; opacity: 1;}
              100% {margin-top: 0%; opacity: 0;}
            }
            @media (max-width: 800px) {
              margin-left: 0%;
            }
          }
          &:nth-child(2){
            margin-top: 28.4%;
            margin-left: 10%;
            animation-name: blueBar1;
            animation-duration: 5s;
            @keyframes blueBar1 {
              0%  {margin-top: 34.4%; opacity: 0;}
              50% {margin-top: 32.4%; opacity: 1;}
              100% {margin-top: 28.4%; opacity: 0;}
            }            
            @media (max-width: 800px) {
              margin-top: 22.4%;
              margin-left: 40%;
              @keyframes blueBar1 {
                0%  {margin-top: 28.4%; opacity: 0;}
                50% {margin-top: 24.4%; opacity: 1;}
                100% {margin-top: 22.4%; opacity: 0;}
              }                
            }
          } 
          &:nth-child(3){
            margin-top: 26.4%;
            margin-left: 12.4%;
            animation-name: blueBar2;
            animation-duration: 8s;
            @keyframes blueBar2 {
              0%  {margin-top: 38.4%; opacity: 0;}
              50% {margin-top: 32.4%; opacity: 1;}
              100% {margin-top: 26.4%; opacity: 0;}
            }               
            @media (max-width: 800px) {
              margin-left: 54%;
            }
          }      
          &:nth-child(4){
            margin-top: -1%;
            margin-left: 11%;
            animation-name: blueBar3;
            animation-duration: 8s;
            @keyframes blueBar3 {
              0%  {margin-top: 8.4%; opacity: 0;}
              50% {margin-top: 2.4%; opacity: 1;}
              100% {margin-top: -1%; opacity: 0;}
            }             
          }        
          &:nth-child(5){
            margin-top: 2%;
            margin-left: 12.4%;
            animation-name: blueBar4;
            animation-duration: 8s;
            @keyframes blueBar4 {
              0%  {margin-top: 11.4%; opacity: 0;}
              50% {margin-top: 6.4%; opacity: 1;}
              100% {margin-top: 2.4%; opacity: 0;}
            }             
          }                              
        }
      }
      .greenParticles{
        margin-left: 39%;
        margin-top: 3%;
        @media (max-width: 800px) {
          position: absolute;
          width: 200%;
          margin-top: 40%;
          margin-left: 0%;
        }
        @media (max-width: 600px) {
          margin-top: 280px;
        }        
        @media (max-width: 500px) {
          margin-top: 320px;
        }    
        @media (max-width: 400px) {
          margin-top: 380px;
        }                  
        img{
          animation-iteration-count: infinite;
          animation-delay: 0s;
          &:nth-child(1){
            margin-top: 7%;
            animation-name: greenBar;
            animation-duration: 5s;
            @keyframes greenBar {
              0%  {margin-top: 12%; opacity: 0;}
              50% {margin-top: 9%; opacity: 1;}
              100% {margin-top: 7%; opacity: 0;}
            }
          }
          &:nth-child(2){
            margin-left: 19%;
            animation-name: greenBar1;
            animation-duration: 5s;
            @keyframes greenBar1 {
              0%  {margin-top: 7%; opacity: 0;}
              50% {margin-top: 2%; opacity: 1;}
              100% {margin-top: 0%; opacity: 0;}
            }
          } 
          &:nth-child(3){
            margin-top: 28.4%;
            margin-left: 20.4%;
            animation-name: greenBar2;
            animation-duration: 5s;
            @keyframes greenBar2 {
              0%  {margin-top: 35.4%; opacity: 0;}
              50% {margin-top: 30.4%; opacity: 1;}
              100% {margin-top: 28.4%; opacity: 0;}
            }
          }                    
        }
      }
      .purpleParticles{
        margin-left: 78%;
        @media (max-width: 800px) {
          position: absolute;
          width: 200%;
          margin-top: 40%;
          margin-left: 90%;
        }
        @media (max-width: 600px) {
          margin-top: 280px;
        }
        @media (max-width: 500px) {
          margin-top: 320px;
        }    
        @media (max-width: 400px) {
          margin-top: 360px;
          margin-left: 86%;
        }                
        img{
          animation-iteration-count: infinite;
          animation-delay: 0s;
          @media (max-width: 600px) {
            width: 0.14%;
          }
          &:nth-child(1){
            margin-top: 10%;
            animation-name: purpleBar;
            animation-duration: 3s;
            @keyframes purpleBar {
              0%  {margin-top: 15%; opacity: 0;}
              50% {margin-top: 12%; opacity: 1;}
              100% {margin-top: 10%; opacity: 0;}
            }
          }
          &:nth-child(2){
            margin-left: 1%;
            margin-top: 4%;
            animation-name: purpleBar1;
            animation-duration: 6s;
            @keyframes purpleBar1 {
              0%  {margin-top: 11%; opacity: 0;}
              50% {margin-top: 6%; opacity: 1;}
              100% {margin-top: 4%; opacity: 0;}
            }
          } 
          &:nth-child(3){
            margin-top: 28.4%;
            margin-left: 2.4%;
            animation-name: purpleBar2;
            animation-duration: 4s;
            @keyframes purplBar2 {
              0%  {margin-top: 35.4%; opacity: 0;}
              50% {margin-top: 30.4%; opacity: 1;}
              100% {margin-top: 28.4%; opacity: 0;}
            }            
          }             
          &:nth-child(4){
            margin-top: 22.4%;
            margin-left: 4.4%;
            animation-name: purpleBar4;
            animation-duration: 5s;
            @keyframes purpleBar4 {
              0%  {margin-top: 32.5%; opacity: 0;}
              50% {margin-top: 24.4%; opacity: 1;}
              100% {margin-top: 22.4%; opacity: 0;}
            }            
          }                   
        }
      }
    }
    .info {
      width: 60%;
      z-index: 9999;
      @media (max-width: 800px) {
        width: 90%;
      }
      h1 {
        font-family: Dela Gothic One;
        font-style: normal;
        font-weight: normal;
        font-size: 64px;
        line-height: 66px;
        text-transform: uppercase;
        margin: 0% 0%;
        @media (max-width: 1366px) {
          font-size: 54px;
          line-height: 56px;
        }
        @media (max-width: 1024px) {
          font-size: 40px;
          line-height: 42px;
        }
        @media (max-width: 800px) {
          font-size: 36px;
          line-height: 38px;
        }
      }
      p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        width: 55%;
        @media (max-width: 1366px) {
          font-size: 14px;
          line-height: 24px;
        }
        @media (max-width: 1024px) {
          font-size: 12px;
          line-height: 22px;
        }
        @media (max-width: 800px) {
          font-size: 16px;
          line-height: 24px;
          width: 100%;
        }
      }
      img {
        margin-top: 2%;
        z-index: -1000;
      }
    }
    .threeD {
      width: 50%;
      margin-left: -8em;
      @media (max-width: 800px) {
        margin-top: 10%;
        width: 90%;
        margin-left: 0em;
      }
      @media (max-width: 600px) {
      }
      canvas {
        height: 20em;
      }
      img {
        margin-top: -6.4%;
        width: 100%;
        z-index: 9999;
      }
      video {
        position: relative;
        margin-top: -30.4%;
        width: 140%;
        z-index: -9999;
        margin-left: -18%;
        margin-bottom: -18%;
      }
      .particles {
        position: absolute;
        top: 15%;
        z-index: 9999;
        background-repeat: no-repeat;
        background-size: cover;
        width: 35%;
        height: 18%;
        max-width: 500px;
        @media (max-width: 800px) {
          top: 50%;
          width: 95%;
        }
        @media (max-width: 600px) {
          width: 75%;
          left: 10%;
          background-position: center;
        }
      }
      .links {
        display: flex;
        justify-content: space-around;
        margin-top: 2%;
        margin-left: 10%;
        a {
          border-radius: 14px;
          color: white;
          text-decoration: none;
          padding: 2.8% 6%;
          font-family: Dela Gothic One;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 18px;
          transition: all 0.2s;
          &:first-child {
            background: rgba(0, 255, 163, 0.1);
            border: 2px solid #00ffa3;
            &:hover {
              background: #00ffa3;
            }
          }
          &:last-child {
            background: rgba(114, 28, 255, 0.1);
            border: 2px solid #721cff;
            &:hover {
              background: #721cff;
            }
          }
        }
      }
    }
  }
  footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-self: flex-start;
    margin-left: 10%;
    margin-top: 3.2%;
    @media (max-width: 800px) {
      margin-left: 5%;
    }
    @media (max-width: 600px) {
      margin-top: 8.2%;
      margin-bottom: -6%;
    }
    a {
      display: flex;
      justify-content: center;
      background: #122632;
      border-radius: 16px;
      padding: 0.7em;
      margin-right: 1em;
      -webkit-transition: background-color 200ms linear;
      -ms-transition: background-color 200ms linear;
      transition: background-color 200ms linear;
      @media (max-width: 800px) {
        padding: 0.6em;
        margin-right: 0.8em;
      }
      img {
        width: 22px;
        height: 20px;
        background: none !important;
        pointer-events: none;
      }
    }
  }
}
