.mainPage {
  max-width: 1440px;
  margin: 0 auto;
  .mission {
    width: 100%;
    padding: 2% 0 14%;
    background: #041016;
    border-top-left-radius: 52px;
    border-top-right-radius: 52px;
    @media (max-width: 800px) {
      border-top-left-radius: 36px;
      border-top-right-radius: 36px;
    }
    h1 {
      padding-left: 14%;
      font-family: Dela Gothic One;
      font-style: normal;
      font-weight: normal;
      font-size: 62px;
      line-height: 110px;
      background: -webkit-linear-gradient(-2deg, #327ba9 0%, #07161f 90%);
      background: -moz-linear-gradient(-2deg, #327ba9 0%, #07161f 90%);
      background: linear-gradient(-2deg, #327ba9 0%, #07161f 90%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      @media (max-width: 1024px) {
        font-size: 40px;
        line-height: 42px;
      }
      @media (max-width: 800px) {
        font-size: 28px;
        line-height: 30px;
      }
      @media (max-width: 600px) {
        font-size: 54px;
        line-height: 50px;
        padding-left: 4%;
      }
    }
    .missions {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      width: 80%;
      padding-inline: 10%;
      @media (max-width: 800px) {
        width: 90%;
        padding-inline: 5%;
      }
      @media (max-width: 500px) {
        align-items: center;
        flex-direction: column;
      }
      div {
        display: flex;
        flex-direction: column;
        align-items: left;
        width: 33%;
        @media (max-width: 500px) {
          width: 60%;
        }
        .light {
          position: absolute;
          width: 310px;
          height: 252px;
          opacity: 0.2;
          -webkit-filter: blur(90px);
          filter: blur(90px);
          backdrop-filter: blur(90px); 
          z-index: 0;
          @media (max-width: 1024px) {
            width: 200px;
            height: 202px;
          }
        }
        .icons{
          position: absolute;
          display: flex;
          flex-direction: row;
          z-index: 99999;
          max-width: 30%;
          img{
            animation: linear infinite;
            height: auto;
            animation-delay: 0s;
          }
        }

        &:first-child{
          .icons{
            margin-top: 1em;
            margin-left: 8em;
            @media (max-width: 1440px) {
              margin-top: 1%;
              margin-left: 8%;
            }
            @media (max-width: 800px) {
              margin-top: 2%;
              margin-left: 10.8%;
            }
            @media (max-width: 500px) {
              margin-top: 3%;
              margin-left: 16%; 
            }
            img{
              width: 9.4em;
              height: 100%;
              animation-name: example;
              animation-duration: 5s;
              @media (max-width: 1440px) {
                width: 35%;
              }
              @media (max-width: 500px) {
                width: 90%;
                animation-duration: 3s;
              }
            }
            @keyframes example {
              0%, 100% {
                margin-top: -3%;
              }
              50% {
                margin-top: 3%;
              }
            }
          }
        }
        &:nth-child(2){
          .icons{
            margin-top: 1.6em;
            margin-left: 9em;
            @media (max-width: 1440px) {
              margin-top: 1.6%;
              margin-left: 10%;  
            }
            @media (max-width: 500px) {
              margin-top: 8%;
              margin-left: 16%; 
            }
            img{
              &:first-child{
                width: 2em;
                height: 100%;
                animation-name: cube;
                animation-duration: 10s;
                @keyframes cube {
                  0%, 100% {
                    margin-top: -3%;
                  }
                  50% {
                    margin-top: 3%;
                  }
                }
                @media (max-width: 1440px) {
                  width: 8%;
                  height: 8%;
                }
                @media (max-width: 500px) {
                  width: 28%;
                  height: 28%;
                  animation-duration: 6s;
                }
              }
              &:nth-child(2){
                height: 100%;
                width: 8em;     
                margin-inline: -1em;
                animation-name: cube1;
                animation-duration: 7s;
                @keyframes cube1 {
                  0%, 100% {
                    margin-top: -4%;
                  }
                  50% {
                    margin-top: 4%;
                  }
                }
                @media (max-width: 1440px) {
                  margin-inline: -4%;
                  width: 30%;
                }
                @media (max-width: 500px) {
                  width: 86%;
                }
              }
              &:last-child{
                margin-top: 6em;
                width: 1.8em;
                height: 100%;
                animation-name: cube2;
                animation-duration: 8s;
                @keyframes cube2 {
                  0%, 100% {
                    margin-top: 4em;
                  }
                  50% {
                    margin-top: 6em;
                  }                  
                }                
                @media (max-width: 1440px) {
                  margin-top: 20%;
                  width: 6%;
                  height: 6%;
                  @keyframes cube2 {
                    0%, 100% {
                      margin-top: 20%;
                    }
                    50% {
                      margin-top: 24%;
                    }                            
                  }  
                }
                @media (max-width: 500px) {
                  margin-top: 48%;
                  width: 20%;
                  height: 20%;
                  animation-duration: 6s;
                  @keyframes cube2 {
                    0%, 100% {
                      margin-top: 48%;
                    }
                    50% {
                      margin-top: 52%;
                    }                        
                  }  
                }
              }              
            }
          }
        }
        &:last-child{
          .icons{
            margin-top: 1em;
            width: 10%;
            margin-left: 8em;
            @media (max-width: 1440px) {
              margin-top: 0%;
              margin-left: 9%;  
              width: 10%;
            }
            @media (max-width: 800px) {
              margin-top: 2%;
              margin-left: 10%; 
            }
            @media (max-width: 500px) {
              width: 22%;
              margin-top: 6%;
              margin-left: 18%;  
            }
            img{
              width: 8em;
              animation-name: blockchain;
              animation-duration: 8s;
              margin-top: 10%;
              @keyframes blockchain {
                0%, 100% {
                  margin-top: -14%;
                }
                50% {
                  margin-top: 20%;
                }                        
              }
              @media (max-width: 1440px) {
                width: 100%;
                height: auto;
              }
              @media (max-width: 500px) {
                width: 100%;
                height: auto;
              }
            }
          }
        }
        .strangeForm {
          align-self: center;
          width: 80%;
          z-index: 9999;
          @media (max-width: 500px) {
            width: 100%;
          }
        }
        .particles{
          position: absolute;
          display: flex;
          .particle{
            width: 2px;
            height: 2px;
            animation: linear infinite;
          }
        }
        &:first-child{
          .particles{
            margin-top: 8.6em;
            margin-left: 6em;
            @media (max-width: 1440px) {
              margin-top: 9.4%;
              margin-left: 6%; 
            }
            @media (max-width: 500px) {
              margin-top: 25.6%;
              margin-left: 10%;  
            }
            .particle{
              &:first-child{
                margin-top: 1.8em;
                animation-name: greenDot;
                animation-duration: 7s;
                @keyframes greenDot {
                  0%  {margin-top: 5.8em; margin-left: 1em; opacity: 1;}
                  100% {margin-top: -1.8em; margin-left: -1.8em; opacity: 0;}
                }    
                @media (max-width: 1440px) {
                  margin-top: 5.6%;
                  @keyframes greenDot {
                    0%  {margin-top: 17.6%; margin-left: 1%; opacity: 1;}
                    100% {margin-top: 2.6%; margin-left: -2.6%; opacity: 0;}
                  }
                }
              }
              &:nth-child(2){
                margin-top: -1em;
                margin-left: 8.4em;
                animation-name: greenDot1;
                animation-duration: 8s;
                @keyframes greenDot1 {
                  0%  {margin-top: 1.8em; margin-left: 9.4em; opacity: 1;}
                  100% {margin-top: -1em; margin-left: 8.4em; opacity: 0;}
                }    
                @media (max-width: 1440px) {
                  margin-top: -4%;
                  margin-left: 29.8%;
                  @keyframes greenDot1 {
                    0%  {margin-top: 10%; margin-left: 29.8%; opacity: 1;}
                    100% {margin-top: -6%; margin-left: 23.8%; opacity: 0;}
                  }                  
                }
                @media (max-width: 500px) {
                  margin-left: 39.8%;
                }
              }
              &:last-child{
                margin-top: 2em;
                margin-left: 10em;
                animation-name: greenDot2;
                animation-duration: 8s;
                @keyframes greenDot2 {
                  0%  {margin-top: 3.8em; margin-left: 10em; opacity: 1;}
                  100% {margin-top: -1em; margin-left: 14.4em; opacity: 0;}
                } 
                @media (max-width: 1440px) {
                  margin-top: 8%;
                  margin-left: 35%;
                  @keyframes greenDot2 {
                    0%  {margin-top: 20%; margin-left: 28.8%; opacity: 1;}
                    100% {margin-top: 4%; margin-left: 38%; opacity: 0;}
                  }                    
                }   
                @media (max-width: 500px) {
                  margin-left: 55%;
                }                              
              }
            }
          }
        }
        &:nth-child(2){
          .particles{
            margin-top: 0em;
            margin-left: 3.4em;
            @media (max-width: 1440px) {
              margin-top: 0%;
              margin-left: 4%;
            }              
            @media (max-width: 500px) {
              margin-top: 3%;
            }
            .particle{
              &:first-child{
                 margin-top: 3.4em;
                 animation-name: redDot;
                 animation-duration: 8s;
                 @keyframes redDot {
                   0%  {margin-top: 3.4em; margin-left: 0; opacity: 1;}
                   100% {margin-top: -1em; margin-left: -2.4em; opacity: 0;}
                 } 
                 @media (max-width: 1440px) {
                    margin-top: 11%;
                    @keyframes redDot {
                      0%  {margin-top: 18%; margin-left: 0; opacity: 1;}
                      100% {margin-top: 8%; margin-left: -10%; opacity: 0;}
                    }                     
                }  
              }
              &:last-child{
                margin-top: -4em;
                margin-left: 8em;
                animation-name: redDot1;
                animation-duration: 9s;
                @keyframes redDot1 {
                  0%  {margin-top: 2.4em; margin-left: 5em; opacity: 1;}
                  100% {margin-top: -4em; margin-left: 8em; opacity: 0;}
                }                 
                @media (max-width: 1440px) {
                  margin-top: -14%;
                  margin-left: 28%;  
                  @keyframes redDot1 {
                    0%  {margin-top: -4%; margin-left: 22%; opacity: 1;}
                    100% {margin-top: -18%; margin-left: 32%; opacity: 0;}
                  }                   
                }
                @media (max-width: 500px) {
                  margin-top: -12%;
                  margin-left: 38%;   }
              }
            }
          }
        }
        &:last-child{
          .particles{
            width: 10%;
            margin-top: 0em;
            margin-left: 9.4em;           
            @media (max-width: 1440px) {
              margin-left: 11%;
            }
            @media (max-width: 500px) {
              margin-top: 4%;
              margin-left: 21%;
              width: 22%;
            }
            .particle{
              &:first-child{
                margin-top: 0em;
                margin-left: 0em;
                animation-name: blueDot;
                animation-duration: 9s;
                @keyframes blueDot {
                  0%  {margin-top: 1em; margin-left: 0em; opacity: 1;}
                  100% {margin-top: -1em; margin-left: -1em; opacity: 0;}
                }   
              }
              &:nth-child(2){
                margin-top: 1em;
                margin-left: 8em;
                animation-name: blueDot1;
                animation-duration: 7s;
                @keyframes blueDot1 {
                  0%  {margin-top: 4em; margin-left: 4em; opacity: 1;}
                  100% {margin-top: 1em; margin-left: 8em; opacity: 0;}
                }                   
                @media (max-width: 1440px) {
                  margin-top: 8%;
                  margin-left: 78%;
                  @keyframes blueDot1 {
                    0%  {margin-top: 18%; margin-left: 70%; opacity: 1;}
                    100% {margin-top: 6%; margin-left: 88%; opacity: 0;}
                  }                    
                }
              }         
              &:nth-child(3){
                margin-top: 5em;
                margin-left: 10em;
                animation-name: blueDot2;
                animation-duration: 10s;
                @keyframes blueDot2 {
                  0%  {margin-top: 10em; margin-left: 8em; opacity: 1;}
                  100% {margin-top: 5em; margin-left: 12em; opacity: 0;}
                }                   
                @media (max-width: 1440px) {
                  margin-top: 58%;
                  margin-left: 98%;
                  @keyframes blueDot2 {
                    0%  {margin-top: 64%; margin-left: 82%; opacity: 1;}
                    100% {margin-top: 50%; margin-left: 102%; opacity: 0;}
                  }                  
                }                
              }                     
              &:last-child{
                margin-top: -1em;
                margin-left: 0em;
                animation-name: blueDot3;
                animation-duration: 8s;
                @keyframes blueDot3 {
                  0%  {margin-top: 2em; margin-left: -2em; opacity: 1;}
                  100% {margin-top: -2em; margin-left: 0em; opacity: 0;}
                }                    
                @media (max-width: 1440px) {
                  margin-top: -10%;
                  @keyframes blueDot3 {
                    0%  {margin-top: 0; margin-left: 0; opacity: 1;}
                    100% {margin-top: -14%; margin-left: 10%; opacity: 0;}
                  }                       
                }                        
              }
            }
          }
        }        
        h2 {
          font-family: Montserrat;
          font-size: 28px;
          margin: -4% 0 0;
          padding-left: 10%;
          width: 80%;
          z-index: 9999;

          @media (max-width: 1200px) {
            font-size: 22px;
            width: 86%;
          }
          @media (max-width: 800px) {
            font-size: 18px;
          }
          @media (max-width: 500px) {
            width: 100%;
            padding-left: 0%;
          }
        }
        p {
          font-family: Montserrat;
          font-weight: 500;
          padding-left: 10%;
          width: 70%;
          font-size: 16px;
          line-height: 24px;
          z-index: 9999;

          @media (max-width: 1200px) {
            font-size: 12px;
            line-height: 18px;
          }
          @media (max-width: 800px) {
            font-size: 12px;
            line-height: 15px;
            width: 84%;
          }
          @media (max-width: 500px) {
            font-size: 12px;
            line-height: 20px;
            padding-left: 0%;
            width: 100%;
          }
        }
      }
    }
  }
  // HOW TO PLAY
  .howToPlay {
    width: 88%;
    margin: 0 auto;
    @media (max-width: 800px) {
      margin-top: 6%;
    }
    h1 {
      position: relative;
      font-family: Dela Gothic One;
      font-style: normal;
      font-weight: normal;
      font-size: 62px;
      line-height: 110px;
      background: -webkit-linear-gradient(-2deg, #327ba9 0%, #07161f 90%);
      background: -moz-linear-gradient(-2deg, #327ba9 0%, #07161f 90%);
      background: linear-gradient(-2deg, #327ba9 0%, #07161f 90%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-left: 8%;
      z-index: 9999;
      @media (max-width: 1200px) {
        font-size: 52px;
        line-height: 52px;
        margin-bottom: 4%;
      }
      @media (max-width: 800px) {
        font-size: 30px;
        margin-left: 10%;
        line-height: 30px;
      }
      @media (max-width: 600px) {
        font-size: 54px;
        line-height: 50px;
        margin-left: 0%;
        width: 6em;
      }
    }
    .howToPlayContent {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @media (max-width: 1124px) {
        width: 70%;
        margin: 0 auto;
      }
      @media (max-width: 1024px) {
        width: 70%;
      }
      @media (max-width: 800px) {
        width: 90%;
      }
      @media (max-width: 600px) {
        justify-content: center;
      }
      .gameSteps {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 23%;
        min-width: 240px;
        background: linear-gradient(
          180deg,
          #111f28 0%,
          rgba(17, 31, 40, 0) 100%
        );
        z-index: 9999;
        border-radius: 40px;
        @media (max-width: 1200px) {
          margin-top: 4%;
        }
        @media (max-width: 800px) {
          margin-top: 6%;
        }
        @media (max-width: 600px) {
          margin-top: 10%;
          width: 80%;
        }
        @media (max-width: 500px) {
          width: 90%;
        }
        @media (max-width: 400px) {
          width: 98%;
        }
        main {
          p {
            width: 60%;
          }
        }
        &:nth-child(1) {
          .border {
            height: 21.4em;
            @media (max-width: 600px) {
              height: 19em;
            }
          }
          main {
            margin-top: 0em;
            .stepInfo {
              margin-top: 1em;
              @media (max-width: 1200px) {
                margin-top: 1.4em;
              }
              @media (max-width: 600px) {
                margin-top: 1.7em;
              }
              &:nth-child(2) {
                margin-top: 1.9em;
                @media (max-width: 600px) {
                  margin-top: 1.6em;
                }
              }
              &:last-child {
                margin-top: 2.2em;
                @media (max-width: 1200px) {
                  margin-top: 2.6em;
                }
                @media (max-width: 600px) {
                  margin-top: 1.6em;
                }
              }
              p {
                max-height: 2em;
              }
            }
          }
        }
        &:nth-child(2) {
          .border {
            height: 22.6em;
            @media (max-width: 600px) {
              height: 20em;
            }
          }
          main {
            margin-top: 1em;
            @media (max-width: 600px) {
              margin-top: 2.4em;
            }
            .stepInfo {
              margin-top: 1.6em;
              @media (max-width: 1200px) {
                margin-top: 2em;
              }
              @media (max-width: 600px) {
                margin-top: 1.6em;
              }
              &:last-child {
                margin-top: 3.4em;
                @media (max-width: 1200px) {
                  margin-top: 3.4em;
                }
                @media (max-width: 600px) {
                  margin-top: 2.6em;
                }
              }
              p {
                max-height: 3em;
              }
            }
          }
        }
        &:nth-child(3) {
          .border {
            height: 27.4em;
            padding-left: 2.4%;
          }
          main {
            margin-top: 0em;
            .stepInfo {
              margin-top: 1.5em;
              @media (max-width: 1200px) {
                margin-top: 1.6em;
              }
              &:nth-child(2) {
                margin-top: 1.4em;
                @media (max-width: 1200px) {
                  margin-top: 1.8em;
                }
              }
              &:nth-child(3) {
                margin-top: 2.2em;
                @media (max-width: 600px) {
                  margin-top: 2.4em;
                }
              }
              &:last-child {
                margin-top: 2.6em;
                @media (max-width: 1200px) {
                  margin-top: 2.5em;
                }
              }
              p {
                max-height: 2em;
              }
            }
          }
        }
        &:nth-child(4) {
          .border {
            height: 8.7em;
            padding-left: 2.4%;
          }
        }
        .mainPic {
          width: 90%;
          margin-top: -6%;
          margin-bottom: 5%;
          z-index: 9999;
          @media (max-width: 1024px) {
            width: 70%;
          }
        }
        .light {
          position: absolute;
          width: 160px;
          height: 160px;
          opacity: 0.2;
          margin-top: 1%;
          filter: blur(60px);
          z-index: 0;
          @media (max-width: 800px) {
            width: 120px;
            height: 120px;
            filter: blur(60px);
          }
        }
        .gameStepsInfo {
          display: flex;
          align-items: flex-start;
          z-index: 9999;
          @media (max-width: 600px) {
            width: 90%;
          }
          .gameInfo {
            margin-left: 5%;
            h3 {
              margin-top: -4%;
              font-family: Dela Gothic One;
              font-style: normal;
              font-weight: normal;
              font-size: 20px;
              line-height: 28px;
              text-transform: uppercase;
              @media (max-width: 1200px) {
                font-size: 16px;
                line-height: 24px;
              }
            }
            .description {
              margin: 0;
              width: 80%;
              @media (max-width: 1200px) {
                font-size: 14px;
                line-height: 20px;
              }
            }
            main {
              .stepInfo {
                div {
                  display: flex;
                  align-items: center;
                  h4 {
                    margin: 0 0 0 6%;
                    width: 8em;
                  }
                }
                p {
                  max-height: 1.8em;
                  width: 13.5em;
                  margin: 4% 2% 0 0;
                  font-size: 15px;
                  line-height: 18px;
                  @media (max-width: 1200px) {
                    font-size: 14px;
                    line-height: 20px;
                  }
                }
              }
              .adittionalIcons {
                margin-top: 2.2em;
                @media (max-width: 1200px) {
                  margin-top: 2.4em;
                }
                @media (max-width: 600px) {
                  margin-top: 2.6em;
                }
                .icons {
                  display: flex;
                  margin: 2% 0;
                  img {
                    width: 20%;
                  }
                }
                h4 {
                  font-family: Montserrat;
                  font-style: normal;
                  font-weight: bold;
                  font-size: 18px;
                  line-height: 24px;
                  margin-top: 0.6em;
                  width: 10em;
                }
              }
            }
          }
        }
      }
    }
  }

  // DISTRIBUTION
  .distribution {
    width: 100%;
    overflow: visible;
    margin: 10% auto 4%;
    @media (max-width: 1440px) {
      overflow: hidden;
    }
    @media (max-width: 800px) {
      margin-top: 8%;
    }
    h1 {
      font-family: Dela Gothic One;
      font-style: normal;
      font-weight: normal;
      font-size: 40px;
      line-height: 50px;
      background: -webkit-linear-gradient(
        45deg,
        #ffffff 0%,
        #ffcd95 20%,
        #764204 80%
      );
      background: -moz-linear-gradient(
        45deg,
        #ffffff 0%,
        #ffcd95 20%,
        #764204 80%
      );
      background: linear-gradient(45deg, #ffffff 0%, #ffcd95 20%, #764204 80%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      width: 40%;
      margin-left: 5%;
      z-index: 9999;
      position: relative;
      @media (max-width: 800px) {
        font-size: 26px;
        line-height: 26px;
        width: 90%;
      }
    }
    .canvas {
      width: 110%;
      max-width: 1440px;
      margin-left: -10em;
      margin-top: -10%;
      margin-bottom: 6%;
      @media (max-width: 1024px) {
        margin-top: 0%;
      }
        @media (max-width: 600px) {
          margin-top: -10%;
          width: 100%;
        margin: 0 auto;
        margin-left: 0em;
      }
    }
    .comb,
    .combAdaptive {
      width: 10%;
      position: relative;
      display: inline-block;
      margin-bottom: 5.6em;
      margin-inline: 0.9%;
      @media (max-width: 1440px) {
        margin-bottom: 6.4vw;
      }
      @media (max-width: 1024px) {
        margin-bottom: 80px;
        margin-inline: 1.2%;
        margin-bottom: 8vw;
      }
      @media (max-width: 600px) {
        display: none;
        // width: 20%;
        // margin-bottom: 12.4vw;
        // margin-inline: 2.4%;
      }
      img {
        width: 225%;
        @media (max-width: 1200px) {
          width: 230%;
        }
        @media (max-width: 1024px) {
          width: 240%;
        }
        @media (max-width: 600px) {
          width: 100vw;
        }
      }

    }
    .mobileDist{
      width: 100vw;
    }
    .comb:nth-of-type(2n) {
      top: 9em;
      @media (max-width: 1440px) {
        top: 10.4vw;
      }
      @media (max-width: 1024px) {
        top: 12vw;
      }
    }
    .combAdaptive:nth-of-type(2n -1) {
      @media (max-width: 600px) {
        top: 21vw;
      }
    }
  }
  // TEAM
  .team {
    display: flex;
    margin-left: 4%;
    margin-top: 2%;
    margin-bottom: -10%;
    overflow: hidden;
    @media (max-width: 1024px) {
    }
    @media (max-width: 800px) {
      margin-top: 8%;
      margin-bottom: -28%;
    }
    @media (max-width: 800px) {
      flex-direction: column;
    }
    .blockInfo {
      min-width: 22%;
      z-index: 9999;
      @media (max-width: 800px) {
        min-width: 30%;
      }
      @media (max-width: 600px) {
        min-width: 40%;
      }
      @media (max-width: 500px) {
        min-width: 45%;
      }
      h1 {
        font-family: "Dela Gothic One", cursive;
        background: -webkit-linear-gradient(
          45deg,
          #ffffff 0%,
          #ffcd95 40%,
          #764204 100%
        );
        background: -moz-linear-gradient(
          45deg,
          #ffffff 0%,
          #ffcd95 40%,
          #764204 100%
        );
        background: linear-gradient(
          45deg,
          #ffffff 0%,
          #ffcd95 40%,
          #764204 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Dela Gothic One;
        font-style: normal;
        font-weight: normal;
        font-size: 82px;
        line-height: 110px;
        margin-bottom: 0%;
        @media (max-width: 1200px) {
          font-size: 52px;
          line-height: 52px;
          margin-bottom: 4%;
        }
        @media (max-width: 800px) {
          font-size: 62px;
          line-height: 62px;
        }
      }
      p {
        margin-top: 2%;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        @media (max-width: 1200px) {
          margin-top: 0%;
          font-size: 14px;
          line-height: 22px;
        }
        @media (max-width: 800px) {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
    .members {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      margin-left: -14%;
      margin-bottom: -4%;
      margin-top: 4%;
      background-repeat: no-repeat;
      @media (max-width: 600px) {
        margin-top: -2%;
      }
      .memberInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0%;
        margin-left: -2%;
        width: 24.2%;
        @media (max-width: 800px) {
          width: 45%;
        }
        .memberPic {
          width: 110%;
          height: auto;
        }
        .memberText {
          position: absolute;
          display: flex;
          flex-direction: column;
          width: 11%;
          margin-top: 18%;
          margin-left: 1%;
          @media (max-width: 800px) {
            margin-top: 34%;
            width: 20%;
            margin-left: 5%;
          }
          @media (max-width: 500px) {
            margin-top: 30%;
            width: 24%;
            margin-left: 10%;
          }
          @media (max-width: 400px) {
            width: 28%;
          }
          h4 {
            margin: 0;
            font-family: Dela Gothic One;
            font-style: normal;
            font-weight: normal;
            font-size: 19px;
            line-height: 22px;
            @media (max-width: 1200px) {
              font-size: 14px;
              line-height: 18px;
            }
            @media (max-width: 500px) {
              font-size: 13px;
              line-height: 16px;
            }
          }
          span {
            font-family: "Dela Gothic One", cursive;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 16px;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: #c9a061;
            margin: 3% 0;
            @media (max-width: 1200px) {
              font-size: 11px;
              line-height: 13px;
            }
            @media (max-width: 500px) {
              font-size: 10px;
              line-height: 12px;
            }
            @media (max-width: 380px) {
              font-size: 9px;
              line-height: 10px;
            }
          }
          a {
            margin-top: 1%;
            width: 18%;
            z-index: 9999;
            @media (max-width: 800px) {
              width: 16%;
            }
            img {
              @media (max-width: 800px) {
                width: 90%;
              }
            }
          }
        }
        &:first-child {
          margin-left: 9%;
          @media (max-width: 800px) {
            margin-left: 4%;
          }
          @media (max-width: 800px) {
            margin-left: 1em;
          }
        }
        &:nth-child(3) {
          @media (max-width: 800px) {
            margin-left: 14%;
          }
        }
        &:nth-child(4) {
          @media (max-width: 800px) {
            margin-left: -3% !important;
            margin-right: -2% !important;
          }
        }
        &:nth-child(n + 3) {
          @media (max-width: 800px) {
            margin-top: -38%;
          }
        }
        &:nth-child(n + 4) {
          @media (max-width: 800px) {
            margin-left: -8%;
          }
        }
        &:nth-child(n + 5) {
          margin-top: -16.4em;
          margin-left: -2%;
          margin-right: 0%;
          @media (max-width: 1200px) {
            margin-top: -14%;
          }
          @media (max-width: 800px) {
            margin-top: -16em;
            margin-top: -38%;
          }
          @media (max-width: 600px) {
            margin-left: -2%;
            margin-top: -40%;
          }
        }
        &:nth-child(5) {
          margin-left: -3%;
          @media (max-width: 800px) {
            margin-left: 7%;
          }
        }
        &:nth-child(9) {
          margin-left: 3%;
        }
        &:nth-child(7) {
          @media (max-width: 800px) {
            margin-left: 12%;
          }
        }
        &:nth-child(11) {
          @media (max-width: 800px) {
            margin-left: 12%;
          }
        }
      }
    }
  }
}
