.header {
  display: flex;
  justify-content: space-between;
  background-color: #091b25;
  height: 80px;
  color: white;
  padding-inline: 4%;
  @media (max-width: 1024px) {
    align-items: center;
  }
  .logo {
    position: relative;
    top: 12px;
    z-index: 9999;
    @media (max-width: 1024px) {
      padding-left: 30px;
      margin: 0 auto;
    }
  }
  .menu {
    width: 33%;
    margin-left: -20%;
    padding-left: 4%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    @media (max-width: 1024px) {
      display: none;
    }
    a {
      text-decoration: none;
      width: auto;
      border-left: 1px solid #13222a;
      align-items: center;
      height: 80px;
      margin-bottom: 42%;
      padding-top: 42%;
      margin-top: 10%;
      padding-bottom: 6%;
      transform: rotate(15deg);
      padding-inline: 7.4%;
      overflow: hidden;
      &:hover {
        background: linear-gradient(120deg, #240c4a 6.01%, #6331c9 94.82%);
      }
      h4 {
        position: relative;
        font-family: "Changa One", cursive;
        color: white;
        transform: rotate(-15deg);
        -webkit-transform-origin: 50% 52%;
      }
      &:first-child {
        margin-bottom: 46%;
        padding-top: 46%;
      }
      &:last-child {
        border-right: 1px solid #13222a;
        margin-bottom: 30%;
        padding-top: 35%;
        margin-top: 7%;
        padding-bottom: 7%;
      }
    }
  }
  .userData {
    width: 34%;
    @media (max-width: 1200px) {
      width: 40%;
    }
    @media (max-width: 1024px) {
      position: absolute;
      background-color: #091b25;
      top: 85px;
      left: -110%;
      width: 100%;
      flex-wrap: wrap;
      flex-direction: column-reverse;
      align-items: flex-start;
      transition: 1s;
      z-index: 1000;
    }
    @media (max-width: 420px) {
      padding-left: 1%;
    }
    .adaptiveMenu {
      display: none;
      @media (max-width: 1024px) {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        margin-top: 2%;
      }
      a {
        text-decoration: none;
        color: white;
        margin-right: 14%;
        &:hover {
          background: linear-gradient(120deg, #240c4a 6.01%, #6331c9 94.82%);
        }
        @media (max-width: 1024px) {
          width: 88%;
          border-top: 1px solid #20313a;
          padding-left: 12%;
        }
      }
    }
    .coinsAmount {
      background-color: #13222a;
      border-radius: 12px;
      height: 48px;
      padding-right: 5px;
      @media (max-width: 1024px) {
        margin: 6% 0 4% 12%;
      }
      img {
        margin-left: -5px;
        @media (max-width: 420px) {
          width: 38%;
        }
      }
      h4 {
        padding-right: 12px;
        flex-shrink: 0;
        @media (max-width: 420px) {
          font-size: 15px;
        }
      }
      button {
        display: flex;
        border: none;
        align-items: center;
        justify-content: center;
        color: #13222a;
        cursor: pointer;
        height: 28px;
        width: 28px;
        background: linear-gradient(
          196.65deg,
          #fff48c 6.01%,
          #ffec3a 43.94%,
          #ff8500 94.82%
        );
        border-radius: 4px;
        img {
          width: 20px;
          margin: 0 auto;
        }
        @media (max-width: 420px) {
        }
      }
    }
    .avatar {
      display: flex;
      align-items: center;
      text-decoration: none;
      @media (max-width: 1024px) {
        margin: 2% 0 0 12%;
      }
      img {
        padding-right: 14px;
      }
      h3 {
        color: white;
        @media (max-width: 420px) {
          font-size: 16px;
        }
      }
    }
    .menu {
      display: none;
      @media (max-width: 1024px) {
        display: flex;
      }
    }
  }
  .activeSubMenu {
    left: 0;
  }
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .barMenu {
    display: none;
    height: 30px;
    flex-direction: column;
    @media (max-width: 1024px) {
      display: flex;
    }
    div {
      transition: 0.4s;
      width: 30px;
      height: 3px;
      background-color: white;
      margin-top: 2px;
    }
  }
  .activeMenu {
    div {
      opacity: 0;
      &:first-child {
        opacity: 1;
        -webkit-transform: rotate(-45deg) translate(-10px, 6px);
        transform: rotate(-45deg) translate(-10px, 6px);
      }
      &:last-child {
        opacity: 1;
        -webkit-transform: rotate(45deg) translate(-11px, -8px);
        transform: rotate(45deg) translate(-11px, -8px);
      }
    }
  }
}
